#home{
    overflow: auto;  
}

.pox{  
    width: 50px;
    height: 50px;
    position: fixed;
    bottom:-50px;
    right: 12px;  
    z-index: 555;
    transition: 0.5s;   
}
.pox i{
    font-size: 40px;
    opacity: 0.8;
}

#home .swiper-wrapper img{
    width: 100%;   
}

.swiper-container {
    width: 100%;
    
}  
.main-container{
    width: 100%;
}
.main-container ul {
    padding-top:18px; 
}   
.main-container ul a{
    width: 90%;
    margin:0 17px 17px 17px;
    box-shadow: 0.5px 0.5px 1px #a8a8a8;
   background: white;
   display: block;
   
}
.main-container ul a img{  
    width: 100%;
}
.main-container .main-c{
box-sizing: border-box;
display: flex
}
.main-container .main-c-left{
    width: 80%;
    padding-top:13px;
    padding-left: 28px 
}
.main-container .main-c-left h1{
    font-size: 13px;
    font-weight: 100;
    color: #333;

}
.main-container .main-c-left p{
    font-size: 8px;
    color: #9a9a9a;

}
.main-container .main-c-right{
    flex: 1;
    font-size: 18px;
    color: #f78360;
    line-height: 50px;
    font-weight: 900;
}

.main-container .movefile{
    text-align: center;
    border: 1px solid #aaa;
    width: 160px;
    height: 30px;
    border-radius: 15px;
    font-size: 12px;
    color: #616161;
    cursor: pointer;
    line-height: 30px;
    margin: 20px  auto
}
.line-dd{
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #a8a8a8;
}
 .upcoming{
    width: 65px;
    height: 20px;
    margin: 0 auto;
    margin-bottom: -10px;
    border-radius: 5px;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    color: #eee;
    background-color: #a7a7a7;
}